/* 路由跳转后需要覆盖的页面 */

.new_page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: #F7F8FA;
    z-index: 100;
}
.left{
    float: left;
}
.right{
    float: right;
}
ul, li{
    list-style: none;
}
.input_custom{
    border: 1px solid gray;
}
.input_custom:focus{
    border: 1px solid skyblue;
    box-shadow: 0 0 2px 2px skyblue;
}
.clearfix{
    zoom: 1;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}