/* 路由跳转后需要覆盖的页面 */
body{
    margin: 0;
}
.new_page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    overflow-y: scroll;
}
//  针对于三个选项切换页
.new_page_tabs{
	padding-bottom: 52px;
	overflow: scroll;
}
.left{
    float: left;
}
.right{
    float: right;
}
ul, li{
    list-style: none;
}
.myInput{
    border: 1px solid #ccc;
    outline: none;
    transition: all .2s ease;
}
.myInput:focus{
    border: 1px solid #26a2ff;
    box-shadow: 0 0 2px 2px #26a2ff;
}
.clearfix{
    zoom: 1;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
input,textarea {
    -webkit-appearance: none;
    /*去除input默认样式*/
    appearance: none;
}
    